#main {
    width: 60%;
    float: left;
    margin-left: 3%;
    margin-top: 20px;
    position: relative;
    padding-bottom: 10%;
}
aside {
    float: left;
    width: 30%;
    margin-right: 3%;
    margin-top: 20px;
    margin-left: 2%;
    position: relative;
}


#news {
    margin-left: 5%;
    width: 95%;
    float: left;
}

.heading {
    font-size: 1.5em;
    font-weight: lighter;
    font-family: 'Balsamiq Sans', cursive;
    color: #4f4f4f;
    border-bottom: 2px solid silver;
    padding: 0 5px;
    float:  left;
}
.heading:first-letter {
    color: sienna;
}
.article {
    width: 40%;
    float: left;
    margin-right: 10%;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    max-width: 400px;
    box-sizing: border-box;
    border-radius: 5px;
}
.article>img {
    border-radius: 5px 5px 0 0;
}

.article>span {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1em;
    margin: 7px;
    width: 100%border-box;
    float: left;
    text-align: justify-all;
}
#news>a>.btn {
    float: left;
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

#video {
    float: left;
    width: 100%;
    margin-bottom: 10%;
}

.video {
    width: 100%;
    margin-bottom: 10px;
    float: left;
    font-size: 1em;
    font-family: 'Balsamiq Sans', cursive;
    color: #646464;
}
.video>img {
    border: 2px solid #dfdfdf;
    width: 35%;
    float: left;
    margin-right: 5px;
    border-radius: 5px;
}

.video>span {
    float: left;
    font-weight: bold;
    width: 50%;
    text-align: center;
    padding-top: 5%;
}
#video>a>.btn {
    float: left;
  position: absolute;
    margin: 0;
    left: 50%;
    bottom: 0;
    margin-right: -50%;
    transform: translate(-50%);
}

/*Адаптивность!!!*/


@media (max-width: 977px) and (min-width: 868px) {
    .article {
        margin-right: 5%;
        width: 45%;
    }
}

@media (max-width: 867px) and (min-width: 586px) {
   #main {
       width: 100%;
       margin-right: 1%;

    }
    aside {
        float: right;
    }

}
@media (max-width: 585px) {
    #main {
        width: 100%;
        margin-right: 1%;

    }
    .article {
        width: 90%;
        margin-left: 10%;
    }
    aside {
        float: right;
    }

}

@media (max-width: 877px) {
    .video>span {
        padding-top: 0;
    }
    #main {
        width: 100%;
    }

}