@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*font-family: 'Balsamiq Sans', cursive;*/
* {
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    height: 100%;
    }
body {
    background-color: #f6f6f6;
}
a {
    color: #ff2b12;
    text-decoration: none;
    transition: all.6s ease;
    -o-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -moz-transition: all.6s ease;

}

a:hover {
    color: #1fe218;
    text-decoration: none;
    transition: all.6s ease;
    -o-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -moz-transition: all.6s ease;

}

img {
    max-width: 100%;
    height: auto;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#content {
    flex: 1 0 auto;
}

/* Стили для шапки*/

header {
    float: left;
    background-color: #343434;
    width: 99%;
    padding: 0.5%;
    border-bottom: 5px solid #59595a;
}

header>div#logo>a>img {
   height: 50px;
    width: auto;
    float: left;
}

header>div#logo>a>span {
    margin-left: 10px;
    font-size: 2.5em;
    font-family:'Balsamiq Sans', cursive ;
    color: aliceblue;

}

@media (min-width:786px) {

    header>div#logo>a>img {
        margin-left: 15%;
    }

    #logo {
        float: left;
        width: 30%;
    }

    #about {
        float: left;
        width: 35%;
    }

    #req_auth {
        float: right;
        width: 35%;
    }
}
@media (max-width:785px) and (min-width:440px){

    header>div#logo>a>img {
        margin-left: 15%;
    }

    #logo {
        float: left;
        width: 50%;
    }

    #about {
        visibility: hidden;
        display: none;
    }

    #req_auth {
        float: right;
        width: 50%;
    }
}
@media (max-width:549px) {

    header>div#logo>a>img {
        margin-left: 5%;
    }

    #logo {
        width: 100%;
    }

    #about {
        visibility: hidden;
        display: none;
    }

    #req_auth {
        visibility: hidden;
        display: none;
    }
}

#about {
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.4em;
    padding-top: 10px;
}

#about>a {
    color: white;
    padding-bottom: 0;

}

#about>a:hover {
    color: #1fe218;
    border-bottom: 1px solid silver;
}

#about>a:last-child {
    margin-left: 10%;
}

#req_auth>a {
    color: white;
    }

.btn {
    float: right;
    margin-right: 3%;
    margin-top: 5px;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: 'Balsamiq Sans', cursive;
    background-color: #ff872e;
    text-shadow: aqua 0 0 1px;
    border-bottom: #ff872e  solid 4px;
    color: white;
}

.btn:hover {
    border-bottom: #ff872e  solid 2px;
    margin-top: 7px;
}

.btn:active {
    border-bottom: #ff872e  solid 0;
    margin-top: 9px;
}


/* Меню*/

nav {
    width: 98.6%;
    padding: 0.7%;
    float: left;
    border-bottom: 2px solid silver;
    background-color: white;
}
nav a {
    color: #323232;
    font-size: 1.5em;
    margin-left: 7%;
}
nav a:hover {
    color: #868686;
    border-bottom: 1px solid silver;
}

nav a:last-of-type {
    margin-right: 15px;
}

.fixed {
    position: fixed;
    top: 0;
    opacity: 0.9;
    padding: 0.3%;
    font-size: 1em;
    width: 99.4%;

    }

.fixed:hover {
    opacity: 1;
}

.fixed a:hover {
    color: #ff8224;
}

#hideMenu {
    display: inline;
}

#showMenu {
    display: inline;
    font-size: 1.3em;
    margin-left: 20px;
    float: left;
    margin-top: 2px;
    cursor: pointer;

}
#search {
    float: right;
    color: #7d7d7d;
    cursor: pointer;
    font-size: 1.3em;
    margin-right: 20px;
    margin-top: 2px;
}

#mobileMenu {
    display: none;
    width: 100%;
    float: left;
}

@media (min-width: 737px) {
    #showMenu {
        display: none;
        visibility: hidden;
    }
}
@media (max-width: 736px) {
    #hideMenu {
        display: none;
        visibility: hidden;
    }
}
@media (max-width: 824px) {
    nav a {
        margin-left: 3%;
    }
    nav a:first-child {
        margin-left: 5%;
    }
}


/* Конец стилей для шапки*/

/*Стили для футера*/

footer {
    float: left;
    background-color: #343434;
    width: 98%;
    padding: 1%;
    border-bottom: 5px solid #59595a;
    font-family: 'Balsamiq Sans', cursive;
    padding-bottom: 0;
    }
#site_name {
    margin-left: 3%;
    color: aqua;
    float: right;

}


#footer_menu>a {
    color: #eeeeee;
    margin-left: 2%;
    font-size: 1.2em;
}
#footer_menu>a:hover {
    color: coral;
    border-bottom: 1px solid silver;
}
#rights {
    float: left;
    margin-top: 1%;
    padding-bottom: 0;

}
#rights>a {
    font-size: 1em;
}
#rights>a:hover {
    border-bottom: 1px solid silver;
}
#social {
    float: right;
    width: 40%;
    margin-right: 1%;
    margin-top: 10px;
    padding: 3px;
}
#social>a {
    margin-left: 5%;
    float: right;
    font-size: 1.2em;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff0000;
    text-align: center;
    line-height: 35px;
}
#social>a:hover {
   background-color: rgba(250, 0, 0, 0.6) ;
}
@media (max-width: 703px) {
    #site_name{
        display: none;
    }
    #social {
        width: 100%;
    }
}
@media (max-width: 443px) {
    #footer_menu>a{


    }
}

